Disk types define the types of persistent disks that can be used in later deployments.
In contrast to ephemeral disks, persistent disks are decoupled from the lifecycle of a VM and often store data on remote storage devices. 
For more information, see <a href="https://bosh.io/docs/cloud-config.html#disk-types" target="_blank">Disk Types Block</a> in the BOSH documentation.

Persistent disks are used in a9s data services to store the actual data service data.
