The cloud properties for the VM-type settings are used in later deployments to determine the VM sizes, 
with respect to CPU, memory and ephemeral disk space. 
For more information, see <a href="https://bosh.io/docs/cloud-config.html#vm-types" target="_blank">VM Types Block</a> in the BOSH documentation.
