---
title: a9s BOSH for PCF
owner: Partners
---

This documentation describes installing and configuring the a9s BOSH for Pivotal Cloud Foundry (PCF) tile. a9s BOSH for PCF sets up a dedicated BOSH 2.0.

<img src="./images/bosh-icon-a9s@2x_1.png" alt="a9s BOSH for PCF logo" height="215" width="215" />

## <id="overview"></a>Overview

a9s data services, such as a9s MongoDB for PCF, use a9s BOSH for PCF to create on-demand provisioning of
service instances that are represented by dedicated virtual machines or clusters of virtual machines.

Find more information, see <a href="usecase.html">use case of the a9s BOSH for PCF tile</a>.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about a9s BOSH for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 28, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, and v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x, v1.8.x, and v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

a9s BOSH for PCF logo has the following requirements:

* a9s Consul DNS for PCF v1.0.0 or later

a9s Consul DNS for PCF enables automatic configuration of the a9s Consul DNS as nameservers for a9s BOSH for PCF.
All VMs provisioned by a9s BOSH for PCF include the a9s Consul DNS (dnsmasq) servers in their list of nameservers.

## <a id="support"></a>Support

Commercial support with a service-level agreement is available for the commercial license.

The entire anynines team will help your team to get started and to be successful.

If your company has specific administration policies or configuration best practices, the anynines team is happy to incorporate them if applicable.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to svc.support@anynines.com.

## <a id="license"></a>License

For information about commerical licenses and support, please contact our sales team at <a href="http://data-services.anynines.com/sales" target="_blank">data-services.anynines.com/sales</a>.

## <a id="see-also"></a>See Also

For general information about BOSH, see [bosh.io](http://bosh.io).
