---
title: How to Install and Configure a9s BOSH for PCF on AWS
owner: Partners
---

##<a id='prerequisites'></a> Prerequisites

Ensure that the following tile has been installed:

* a9s Consul DNS for Pivotal Cloud Foundry (PCF) v1.0.0 or later. More information about this requirement can be found <a href="https://docs.pivotal.io/partners/a9s-consul-dns/index.html">in the a9s Consul DNS for PCF tile<a>.

##<a id='install'></a> Install and Configure a9s BOSH for PCF

Complete the following steps to download, install, configure, and deploy a9s BOSH for PCF.

1. Download the product file from the [Pivotal Network](https://network.pivotal.io).

2. Navigate to the Pivotal Cloud Foundry Operations Manager (Ops Manager) Installation Dashboard and click **Import a Product**
to upload the product file.

3. Click **Add** next to the uploaded a9s BOSH for PCF tile in the Ops Manager
**Available Products** view to add it to your staging area.

4. Click the newly added tile and review and configure the fields in the **Settings** pane.
For information about the fields, see [About Configuring a9s BOSH for PCF](#configure) below.

5. Click **Apply Changes** to deploy the service.


##<a id='configure'></a> About Configuring a9s BOSH for PCF

Read this section for help completing Step 4 above.

###<a id='iaas-setting'></a> IaaS Settings Section

In the **IaaS Settings** of the a9s BOSH for PCF tile, you have to choose **AWS**. Once AWS is selected, the following configuration options must be provided:

| Value | Description | Example |
|-------|-------------|---------|
| AWS Access Key ID | The ID of the Access key used by the a9s BOSH for PCF tile to communicate with the AWS API. Find instruction on <a href="https://aws.amazon.com/de/developers/access-keys/" target="_blank">how to create a new access key on AWS here</a>. You have to configure the same permissions as you did for the PCF BOSH Director (you can also use the same Access Key ID). | `YOURAWSACCESSKEY` |
| AWS Secret Access Key | The secret access key which belongs to the AWS Access Key ID (see above). | `secret` |
| AWS Default Key Name | The name of a keypair on AWS. Find instructions on <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html" target="_blank">how to create a keypair on AWS here</a> | `myawsname` |
| AWS Default Security Group | The name of an AWS Security Group, which will be assigned to each virtual machine of an a9s service instance. Ensure that: <ul><li>The machines in this group are allowed to communicate with each other</li><li>PCF Elastic Runtime can access these machines via Port 3000</li><li>PCF Elastic Runtime can access these the default port of the respective service type (e.g port 5432 for the a9s PostgreSQL for PCF tile)</li></ol> | `sg-56168731` |
| AWS Default Region | The AWS Region to which the service instances should be deployed. | `eu-west-1` |

###<a id='cc'></a> Cloud Config Section

<a href="https://bosh.io/docs/cloud-config.html" target="_blank">Cloud Config</a> is a BOSH term and refers to your infrastructure specific configuration. It encapuslates all specifics so that BOSH can use the same <a href="https://bosh.io/docs/deployment-manifest.html" target="_blank">deployment manifests</a> across different IaaS installations.

To create the Cloud Config YAML, you can use the a9s Cloud Config Wizard (see: <a href="https://cloud-config.anynines.com/" target="_blank">https://cloud-config.anynines.com/</a>). It provides you a graphical user interface for the specification of all configuration values to ensure you do not miss anything and that you have a proper YAML structure.

<div class="note"><strong>Note</strong>: Ensure that you have specified a network with the name <code>service-instances</code>, two disk types named <code>small</code> and <code>big</code> and two VM types named <code>small</code> and <code>big</code>.</div>

The `big` VM and disk types will be used for the creation of service instances when a big service plan should be used, such as `mongodb-cluster-big` or `postgresql-cluster-big`. The `small` VM and disk types will be used for the small service plans such as `mongodb-cluster-small` or `postgresql-cluster-small`.

<div class="note"><strong>Note</strong>: To reduce the risk that a data service instance experiences a split brain situation, ensure you have configured three availalbity zones.</div>

<img src="./images/a9s-bosh-tile-cloud-config.png" alt="a9s BOSH for PCF cloud config section" />

###<a id='errands'></a> Errands Section

Find a description about the errands of the a9s BOSH for tile <a href="errands.html">here</a>.
