---
title: Installing and Configuring a9s BOSH for PCF on AWS
owner: Partners
---

##<a id='prerequisites'></a> Prerequisites

Ensure that the following tile has been installed:

* a9s Consul DNS for PCF v0.9.0 or later

##<a id='install'></a> Install and Configure a9s BOSH for PCF

Complete the following steps to download, install, configure, and deploy a9s BOSH for PCF.

1. Download the product file from the [Pivotal Network](https://network.pivotal.io).

2. Navigate to the Pivotal Cloud Foundry Operations Manager (Ops Manager) Installation Dashboard and click **Import a Product**
to upload the product file.

3. Click **Add** next to the uploaded a9s BOSH for PCF tile in the Ops Manager
**Available Products** view to add it to your staging area.

4. Click the newly added tile and review and configure the fields in the **Settings** pane.
For information about the fields, see [About Configuring a9s BOSH for PCF](#configure) below.

5. Click **Apply Changes** to deploy the service.


##<a id='configure'></a> About Configuring a9s BOSH for PCF

Read this section for help completing Step 4 above.

###<a id='iaas-setting'></a> IaaS Settings Section

In the **IaaS Settings** of the a9s BOSH for PCF tile you have to choose "AWS" for configuring the a9s BOSH for PCF tile to provision virtual machines on AWS. Once AWS is selected the following configuration options will be displayed:

| Value | Description | Example |
|-------|-------------|---------|
| AWS Access Key ID | The ID of the Access key used by the a9s BOSH for PCF tile to communicate with the AWS API. Find instruction on <a href="https://aws.amazon.com/de/developers/access-keys/" target="_blank">how to create a new access key on AWS here</a>. You have to configure the same permissions as you did for the PCF Ops Manager Director (you can also use the same Access Key ID). | `YOURAWSACCESSKEY` |
| AWS Secret Access Key | The secret access key which belongs to the AWS Access Key ID (see above). | `secret` |
| AWS Default Key Name | The name of a keypair on AWS. Find instructions on <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html" target="_blank">how to create a keypair on AWS here</a> | `myawsname` |
| AWS Default Security Group | The name of an AWS Security Group which will be assigned to each virtual machine of an a9s service instace. Ensure that the the machines in this group are allowed to communicate among each other and that the PCF Elastic Runtime can access these machine via Port 3000 and the default port of the respective service type (e.g port 5432 when the a9s PostgreSQL for PCF is installed). | `sg-56168731` |
| AWS Default Region | The AWS Region to which the service instances should be deployed to. | `eu-west-1` |

###<a id='iaas-setting'></a> Cloud Config Section

<img src="./images/a9s-bosh-tile-cloud-config.png" alt="a9s BOSH for PCF cloud config section" />
