---
title: Installing and Configuring a9s BOSH for PCF
owner: Partners
---

This topic describes how to install and configure a9s BOSH for Pivotal Cloud Foundry (PCF).

## Installation

Regarding to your IaaS layer click on the links below to install the <b>a9s BOSH for PCF</b> tile:

<ul>
  <li>
    <a href="installing-aws.html">Install the a9s BOSH for PCF using the Ops Manager Director for <b>AWS</b></a>
  </li>
  <li>
    <a href="installing-vsphere.html">Install the a9s BOSH for PCF using the Ops Manager Director for <b>VMware vSphere</b></a>
  </li>
  <li>
    <a href="installing-openstack">Install the a9s BOSH for PCF using the Ops Manager Director for <b>OpenStack</b></a>
  </li>
</ul>
